{% extends '_base.html.twig' %}

{% block title %}Ville de Guesnain - Arrêtés municipaux{% endblock %}

{% block body %}
    <h2 class="h3 mb-4">Consultation des bulletins municipaux</h2>
    <div class="row">
        <div class="row">
            {% for pdf in pdfs %}
                <div class="col-sm-6 mb-3">
                    <div class="card" style="width: 100%;">
                        <a href="../../pdf{{ asset(pdf.chemin) }}" target="_blanck">
                            <img src="../../pdf{{ asset(pdf.chemin) }}.png" class="card-img-top" alt="{{pdf.titre}}" />
                        </a>
                        <div class="card-body text-right">
                            <h5 class="card-title text-left">{{pdf.titre}}</h5>
                            <p class="card-text"><small>{{pdf.date | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') | capitalize}}</small></p>
                            <a href="../../pdf{{ asset(pdf.chemin) }}" class="btn btn-primary" target="_blanck">Voir le fichier pdf</a>
                        </div>
                    </div>                    
                </div>	    
            {% endfor %}    
        </div>	
    </div>        
{% endblock %}
