{% extends '_base.html.twig' %}

{% block title %}Ville de Guesnain - La municipalité{% endblock %}

{% block body %}
    <div class="row">
        {% for elu in elus %}
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="\img\{{ elu.photo }}" class="card-img" alt="{{ elu.nom }} {{ elu.prenom }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ elu.nom }} {{ elu.prenom }}</h5>
                            <ul>
                            {% for fonction in elu.fonctions %}
                                {% if loop.first %}
                                    <h6>{{fonction.nom}}</h6>
                                {% else %}
                                    <li>{{fonction.nom}}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}        
    </div>

{% endblock %}
