{% extends '_base.html.twig' %}

{% block title %}Ville de Guesnain - Les structures municipales{% endblock %}

{% block body %}
    <!-- INTRO -->
<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img src="\img\content\structures\{{structure.photo}}" class="card-img" alt="{{structure.nom}}" />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{structure.nom}}</h5>
				<p class="card-text">{{structure.adresse}}<br /><br />{{structure.telephone}}<br />{{structure.mail}}</p>
			</div>
		</div>
	</div>
</div>



<!-- HORAIRES-->
	<div class="card-deck">
		<div class="card">
			<h5 class="card-header">Présentation</h5>
			<div class="card-body">
                <p class"card-text">{{structure.presentation | raw}}</p>
			</div>
		</div>
	
		<div class="card">
			<h5 class="card-header">Horaires d'ouverture <span class="text-success">- Ouvert</span></h5> <!--<span class="text-danger">- Fermée</span>-->
			<div class="card-body">
				<h6>{{structure.horaireActif.nom}}</h6>
				<p class="card-text">
					<div class="container">
						{% for ouverture in structure.horaireActif.ouvertures %}
							<div class="row mb-2">
								<div class="col-6 text-right">
									{{ ouverture.jour }} :
								</div>
								<div class="col-6">
									{{ ouverture.heureDebut | localizeddate('none', 'none', null, null, "k'h'mm") }} - {{ ouverture.heureFin | localizeddate('none', 'none', null, null, "k'h'mm") }}
									{% if ouverture.heureDebut2 != null and ouverture.heureFin2 != null %}
										<br/>{{ ouverture.heureDebut2 | localizeddate('none', 'none', null, null, "k'h'mm") }} - {{ ouverture.heureFin2 | localizeddate('none', 'none', null, null, "k'h'mm") }}
									{% endif %}
								</div>								
							</div>
						{% endfor %}
					</div>
				</p>
			</div>
		</div>
	</div>

	
<br/>	
<!-- PLAQUETTES -->
<div class="row">
	<div class="col-sm-6">
		<div class="card" style="width: 100%;"><img src="images/ArticlesFixes/LesStructures/mediatheque/plaquettes/a-m-j-2019.jpg" class="card-img-top" alt="Programme avril à juin 2019" />
			<div class="card-body">
				<h5 class="card-title">Avril - Juin 2019</h5>
				<p class="card-text">Programme des activités de la période avril, mai et juin 2019.</p>
				<a href="images/pdf/mediatheque/programmes/Plaquette - Avril à juin - 2019.pdf" class="btn btn-primary" target="_blanck">Voir le programme</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card" style="width: 100%;"><img src="images/ArticlesFixes/LesStructures/mediatheque/bientot.jpg" class="card-img-top" alt="Programme juillet et août 2019" />
			<div class="card-body">
				<h5 class="card-title">Juillet - Août 2019</h5>
				<p class="card-text">Le programme des grandes vacances sera bientôt disponible !</p>
				<a href="#" class="btn btn-primary" target="_blanck">Voir le programme</a>
			</div>
		</div>
	</div>
</div>

<!-- JUMBOTRON TARIFS -->
<br/>
<div class="jumbotron">
	<h1 class="display-4">Tarifs</h1>
	<p class="lead">L'abonnement annuel vous permet d'emprunter des livres, magazines, CD et DVD mais également de participer aux ateliers et animations.</p>
	<hr class="my-4" />
	<p>Vous pouvez emprunter à la fois : 5 livres ou magazines, 4 CD et 2 DVD pour une durée de 3 semaines.</p>
	<p>Les postes informatiques, durant les créneaux d'accès libre, vous permettent d'utiliser les outils de bureautique et d'avoir un accès à Internet. Réservation directement à l'accueil de la Médiathèque. (Même si des ordinateurs sont disponibles, l'accès vous sera refusé durant les ateliers scolaires)</p>
	<p>Un supplément vous sera demandé pour la participation aux formations informatiques.</p>
</div>

<!-- CARD DECK des Tarifs -->
<div class="card-deck">
	<!-- -tarif 1 -->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Gratuit</h5>
			<p class="card-text">L'abonnement à la Médiathèque est gratuit pour les enfants scolarisés à Guesnain ainsi que pour les Guesninois :</p>
			<ul>
				<li>De moins de 18 ans</li>
				<li>Etudiants</li>
				<li>Allocataires du R.S.A.</li>
				<li>Travailleurs handicapés</li>
			</ul>
		</div>
	</div>
</div>


{% endblock %}
