{% extends '_admin_base.html.twig' %}

{% block title %}Modification de : {{ element.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>

    <!--<script type="text/javascript">
        $(document).ready(function(){
            $('#article_dateStart_date').datepicker({
                format: 'dd/mm/yyyy'
            });
        })
    </script>-->

    {% include '_modal_delete.js.twig' %}
{% endblock %}

{% block body %}

    <div class="jumbotron m-5">
        <h1>Modification de : {{ element.titre }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}        
    </div>

    {% include '_modal_delete.html.twig' %}

    {# Affichage des ArticleContent #}
    <div class="jumbotron m-5 bg-info">

        <ul class="nav justify-content-center bg-warning m-5">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_article_content_new', {'article_id' : element.id } ) }}">Ajouter un contenu</a>
            </li>
        </ul>

        <p>Vous avez {{ element.articleContents | length }} contenus :</p>

        <table class="table bg-light">
            <thead class="thead-light">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Position</th>
                <th scope="col">Titre</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for content in element.articleContents %}
                    <tr> 
                        <th scope="row">{{ content.id }}</th>
                        <td>
                            <a href="{{ path('admin_article_content_edit', { 'id': content.id }) }}">
                                {{ content.position }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_article_content_edit', { 'id': content.id }) }}">
                                {{ content.titre }}
                            </a>
                        </td>
                        <td>
                            <div class='text-right'><a class='confirmModalLink text-danger' href="{{ path('admin_article_content_delete', { 'id': content.id }) }}"><i class='fas fa-trash-alt'></i></a></div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}