{% extends '_admin_base.html.twig' %}

{% block title %}Modification de : {{ element.article.titre }}{% endblock %}

{% block javascripts %}
    {% include '_modal_delete.js.twig' %}
{% endblock %}

{% block body %}

    <div class="jumbotron m-5">
        <h1>Modification de l'article : {{ element.article.titre }}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form) }}        
    </div>

    

    {% include '_modal_delete.html.twig' %}

    {# Affichage des ContentSort #}
    <div class="jumbotron m-5 bg-info">

        <ul class="nav justify-content-center bg-warning m-5">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('admin_article_card_new', {'content_id' : element.id } ) }}">Ajouter une card</a>
                <a class="nav-link active" href="{{ path('admin_article_img_new', {'content_id' : element.id } ) }}">Ajouter une img</a>
                <a class="nav-link active" href="{{ path('admin_article_jumbo_new', {'content_id' : element.id } ) }}">Ajouter un jumbotron</a>
            </li>
        </ul>

        <p>Vous avez {{ element.nbrContent }} contenus :</p>

        <div class='row'>        
        {% for content in element.contenu %}
            {{ content | ContentSort }}
        {% endfor %}
        </div>
    </div>

{% endblock %}