{% extends '_admin_base.html.twig' %}

{% block title %}Modification de : {{ element.article.titre }}{% endblock %}

{% block javascripts %}
    {% include '_modal_delete.js.twig' %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <div class="jumbotron">
                <h1 class="h3">Modification de l'article :<br/>{{ element.article.titre }} / {{ element.titre }}</h1>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

                {{ form_end(form) }}        
            </div>
        </div>

        <div class="col-8">           

            {% include '_modal_delete.html.twig' %}

            {# Affichage des ContentSort #}
            <div class="jumbotron bg-info">

                <ul class="nav justify-content-center bg-warning m-5">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('admin_article_card_new', {'content_id' : element.id } ) }}">Ajouter une card</a>
                        <a class="nav-link active" href="{{ path('admin_article_img_new', {'content_id' : element.id } ) }}">Ajouter une img</a>
                        <a class="nav-link active" href="{{ path('admin_article_jumbo_new', {'content_id' : element.id } ) }}">Ajouter un jumbotron</a>
                    </li>
                </ul>

                <p>Vous avez {{ element.nbrContent }} contenus :</p>

                <div class='row'>        
                {% for content in element.contenu %}
                    {{ content | ContentSort('admin') }}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}