<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#home">Accueil du site</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agenda</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('admin_agenda_agenda_new') }}">Ajouter un agenda</a>
      <a class="dropdown-item" href="{{ path('admin_agenda_agendas_liste') }}">Voir les agendas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{{ path('admin_agenda_evenement_new') }}">Ajouter un evenement</a>
      <a class="dropdown-item" href="{{ path('admin_agenda_evenements_liste') }}">Voir les évènements</a>      
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('admin_menu_menu_new') }}">Ajouter un menu</a>
      <a class="dropdown-item" href="{{ path('admin_menu_menus_liste') }}">Voir les menus</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personnel</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('admin_personnel_personnel_new') }}">Ajouter une personne</a>
      <a class="dropdown-item" href="{{ path('admin_personnel_personnels_liste') }}">Voir le personnel</a>
      <div class="dropdown-divider"></div>
      {# <a class="dropdown-item" href="{{ path('admin_personnel_fonction_new') }}">Ajouter une fonction</a> #}
      <a class="dropdown-item" href="{{ path('admin_personnel_fonctions_liste') }}">Voir les fonctions</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_structure_structures_liste') }}">Les structures municipales</a>  
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('admin_article_articles_liste') }}">Articles</a>  
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pdf</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('admin_pdf', {'type' : 'arrete'} ) }}">Arrêtés municipaux</a>
      <a class="dropdown-item" href="{{ path('admin_pdf', {'type' : 'bulletin'} ) }}">Bulletins municipaux</a>      
    </div>
  </li>  
  {#
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('menu_lien_add') }}">Ajouter un lien</a>
      <a class="dropdown-item" href="{{ path('menu_menu_add') }}">Ajouter un menu</a>
      <a class="dropdown-item" href="#">Modifier le menu</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('article_article_add') }}">Ajouter un article</a>      
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Tous les articles</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Personnel</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ path('admin_personnel') }}">Ajouter une fonction</a>
      <a class="dropdown-item" href="{{ path('admin_personnel') }}">Ajouter une personne</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Voir l'ensemble du personnel</a>
    </div>
  </li>#}

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
    <div class="dropdown-menu">
      {% if app.user %}
        <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>      
      {% else %}
        <a class="dropdown-item" href="{{ path('account_register') }}">Inscription</a>
        <a class="dropdown-item" href="{{ path('account_login') }}">Connexion</a>
      {% endif %}
    </div>
  </li>
</ul>