<section id="agenda">
    <div id="defilagenda" class="als-container">
        <span class="als-prev"><img src="/img/template/defilagenda/thin_top_arrow_333.png" alt="prev" title="previous" /></span>
            <div class="als-viewport">
                <div class="als-wrapper">
                    {% for evenement in agenda.events %}
                        {% if date(evenement.dateEvent) > date('-1days') %}
                            <div class="als-item">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{evenement.nom}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{evenement.dateEvent | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') | capitalize}}</h6>
                                        {% if evenement.heureDebut is not null %} 
                                            <h6 class="card-subtitle mb-2 text-muted">{{evenement.heureDebut | localizeddate('none', 'none', null, null, "k'h'mm")}}
                                                {% if evenement.heureFin is not null %} 
                                                    - {{evenement.heureFin | localizeddate('none', 'none', null, null, "k'h'mm")}}
                                                {% endif %}    
                                            </h6>
                                        {% endif %}
                                        <p class="card-text">{{evenement.lieu}}</p>                    
                                        {% if evenement.commentaire is not null %}
                                            <p class="card-text">{{evenement.commentaire}}</p>
                                        {% endif %}
                                        {% if evenement.lien is not null %}
                                            <a href="{{evenement.lien}}" class="card-link">En savoir plus</a>
                                        {% endif %}
                                    </div>                
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
		<span class="als-next"><img src="/img/template/defilagenda/thin_bottom_arrow_333.png" alt="next" title="next" /></span>
    </div>
</section>