<ul class="nav nav-tabs">
  {% for categ in menu.categs %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ categ.titre }}</a>
      <div class="dropdown-menu">
        {% for lien in categ.liens %}
          {% if lien.url != '#' %}
            {% if lien.urlparam == null %}
              <a class="dropdown-item" href="{{ path(lien.url) }}">{{ lien.titre }}</a>
            {% else %}
              <a class="dropdown-item" href="{{ path(lien.url, {'id' : lien.urlparam}) }}">{{ lien.titre }}</a>
            {% endif %}
          {% else %}
            <div class="dropdown-divider"></div>
          {% endif %}
        {% endfor %}          
      </div>
    </li>
  {% endfor %}
</ul>